p {
  font-family: Lato;
}

.cust-btn {
  padding: 6px;
  height: 40px;
  width: 40px;
  background-color: aqua;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid black;
}
